<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  <div id="markdown" style="height: 100%;"></div>
  <script type="module">
    import { Octokit } from "https://cdn.pika.dev/@octokit/rest";

    const octokit = new Octokit({
      auth: "MY_SECRET",
      userAgent: "specs",
      baseUrl: "https://api.github.com",
    });

    octokit.repos
      .getContent({
        owner: "libp2p",
        repo: "specs",
        path: "{{ .Get 0 }}",
      })
      .then((result) => {
        // content will be base64 encoded
        var content = atob(result.data.content).toString();
        // replace rel links from github markdown with abs links
        var toUrl = "https://github.com/libp2p/specs/blob/master/";
        content = content.replace(/\]\(\./g, "](" + toUrl);
        // render within div
        document.getElementById("markdown").innerHTML = marked(content);
      });
</script>
